html,body{
	-webkit-overflow-scrolling:touch;
}
body{
	overflow: hidden;
}
div{
	border: none;
}

.box1{
	width: 100%;
	padding-bottom: 100%;
	position: relative;
	background: url('../images/bg.jpg');
}
.box1 .ai-img{
	position: absolute;
	width: 60%;
	bottom: 5%;
	right: 5%;
	border-radius: 10px;
	/* transform: translateX(-50%);
	-webkit-transform: translateX(-50%); */
}
.box1-logo{
	width: 15%;
	padding-bottom:15%;
	position: absolute;
	top: 5%;
	left: 5%;
	background: url('../images/logo.png') no-repeat;
	background-size: 100%;
	border-radius: 10px;
	border: 2px solid black;
}
.box1 h2{
	position: absolute;
	right: 5%;
	top: 5%;
}
.box1 h4{
	position: absolute;
	right: 15%;
	top: 15%;
}
.box1 ul{
	position: absolute;
	left: 7%;
	bottom: 5%;
}
.box1 ul li{
	margin:15% 0;
}
.box1 ul li a{
	font-weight: 700;
}
.box1-chat{
	position: absolute;
	width: 50%;
	height: 25%;
	right: 10%;
	top: 25%;
	border: 3px solid black;
	border-radius: 10px;
}
.box1-chat a{
	display: block;
	width: 100%;
	height: 100%;
	color: black;
	text-align:center;
}
.box1-chat a p{
	font-size: 20px;
	line-height: 30px;
	margin: 5px 0;
}
.box1-chat a i{
	display: block;
	margin: 5px 0;
}
.box2{
	width: 100%;
	padding-bottom: 61.8%;
}
.box2-1{
	float: left;
	width: 38.2%;
	overflow: hidden;
}
.box2-2{
	float: left;
	width: 61.8%;
	padding-bottom: 61.8%;
	position: relative;
	/* background: rgba(0, 0, 0, .8); */
	/* background: url('../images/bg2.png'); */
}
.box2-2 h1{
	position: absolute;
	bottom: 45%;
	right: -60px;
	font-size: 12px;
	/* color: white; */
	color: black;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg) ;
}
.box2-2-inBox{
	position: absolute;
	width: 100%;
	height: 80%;
	bottom: 30px;
	right: 5px;
	font-size: 12px;
	/* color: white; */
	color: black;
	transform: scale(0.7) rotate(90deg);
	-webkit-transform: scale(0.7) rotate(90deg);
}
.box2-2-inBox ul{
	position: absolute;
	width: 125%;
	bottom: -20%;
	left: 0;
}
.box2-2-inBox li{
	float: left;
	margin: 0 5%;
	text-align: center;
}
.box2-2-inBox li b{
	font-size: 20px;
}
.box2-2-inBox p{
	width: 120%;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 18px;
	font-weight: 900;
}
.box2-2-inBox .about{
	width: 120%;
	position: absolute;
	top: 30%;
	left: 10%;
}
.box2-1-1{
	width: 100%;
	padding-bottom: 61.8%;
}
.box2-1-2{
	width: 100%;
	padding-bottom: 100%;
	position: relative;
}
.box2-1-2-inBox{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	transform: rotate(180deg) scale(0.3);
	-webkit-transform: rotate(180deg) scale(0.3);
}
.box2-1-2-inBox p{
	font-size: 12px;
}
.box-1-2-inBox-top{
	position: absolute;
	top: -90%;
	left: -100%;
	width: 300%;
}
.box-1-2-inBox-top li a{
	display: block;
}
.box-1-2-inBox-top li{
	width: 19%;
	float: left;
	padding-top: 4%;
	margin: 0 3%;
	text-align: center;
	line-height: 35px;
	border-radius: 10px;
	color: white;
}
.box-1-2-inBox-bottom{
	width: 320%;
	height: 200%;
	position: absolute;
	bottom: -100%;
	left: -110%;
	border-radius: 10px;
	overflow: hidden;
	border: 3px solid black;
}
.box-1-2-inBox-bottom-c{
	float: left;
	width: 25%;
	text-align: center;
}
.box-1-2-inBox-bottom-c h2{
	padding-top: 20px;
}
.box-1-2-inBox-bottom-c a{
	display: block;
}
.box-1-2-inBox-bottom-c ul{
	height: 25%;
	padding-top: 10px;
}
.box-1-2-inBox-bottom-c ul li{
	margin: 15% 0;
}
.box2-1-1-1{
	float: left;
	width: 38.2%;
}
.box2-1-1-2{
	float: left;
	width: 61.8%;
	padding-bottom: 61.8%;
	font-size: 12px;
	position: relative;
}
.box2-1-1-2-inBox{
	width: 100%;
	height: 100%;
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(-90deg) scale(0.2);
	-webkit-transform: rotate(-90deg) scale(0.2);
}
.box2-1-1-2-inBox-top{
	position: absolute;
	top: -180%;
	left: -200%;
	width: 500%;
}
.box2-1-1-2-inBox-top li a{
	font-size: 12px;
	display: block;
}
.box2-1-1-2-inBox-top li{
	font-size: 12px;
	width: 19%;
	float: left;
	padding-top: 4%;
	margin: 0 3%;
	text-align: center;
	line-height: 35px;
	border-radius: 10px;
	color: white;
}
.box2-1-1-2-inBox-bottom{
	width: 450%;
	height: 350%;
	position: absolute;
	top: -65%;
	left: -175%;
	overflow: hidden;
}
.box2-1-1-2-inBox-bottom .title{
	height: 45px;
	border-bottom: 2px solid black;
}
.box2-1-1-2-inBox-bottom .title li{
	float: left;
	font-size: 18px;
	width: 25%;
	text-align: center;
	line-height: 45px;
}
.box2-1-1-2-inBox-bottom .title li a{
	display: block;
}
.box2-1-1-2-inBox-bottom .title li a.now{
	background: black;
	color: white;
}
.box2-1-1-2-inBox-bottom .view{
	width: 100%;
}
.box2-1-1-2-inBox-bottom .view .content{
	width: 100%;
	text-align: center;
}
.box2-1-1-2-inBox-bottom .view .content li{
	padding: 3%;
	border:1px solid #ccc ;
}
.box2-1-1-2-inBox-bottom .view .content2{
	width: 100%;
	text-align: center;
}
.box2-1-1-2-inBox-bottom .view .content2 li{
	padding: 5%;
}
.box2-1-1-2-inBox-bottom .view .content2 li a{
	display: block;
	width: 40%;
	padding: 3% 0;
	float: left;
	margin: 2% 5%;
	background: rgb(247, 247, 247);
}
.box2-1-1-2-2{
	width: 100%;
	padding-bottom: 61.8%;
}
.box2-1-1-2-1{
	width: 100%;
	padding-bottom: 100%;
	position: relative;
}
.box2-1-1-2-1-inBox{
	width: 100%;
	height: 100%;
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 0;
	transform:  scale(0.2);
	-webkit-transform:  scale(0.2);
}
.box2-1-1-2-1-inBox h1{
	font-size: 16px;
	position: absolute;
	top: -180%;
	left: -175%;
	width: 450%;
}
.box2-1-1-2-1-inBox ul{
	width: 450%;
	height: 400%;
	position: absolute;
	top: -120%;
	left: -175%;
	overflow: hidden;
}
.box2-1-1-2-1-inBox ul li{
	float: left;
	font-size: 18px;
	width: 25%;
	margin: 5% 0;
	text-align: center;
	line-height: 30px;
	position: relative;
}
.box2-1-1-2-1-inBox ul li img{
	width: 100%;
}
.box2-1-1-2-1-inBox ul li .tips{
	position: absolute;
	font-size: 12px;
	padding-top: 15%;
	top: 0;
	left: 0;
	color: white;
	text-align: center;
	width: 100%;
}
.box2-1-1-2-1-1{
	float: left;
	width: 38.2%;
	overflow: hidden;
}
.box2-1-1-2-1-2{
	float: left;
	width: 61.8%;
	padding-bottom: 61.8%;
	position: relative;
}
.box2-1-1-2-1-2-inBox{
	width: 100%;
	height: 100%;
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(90deg) scale(0.2);
	-webkit-transform: rotate(90deg) scale(0.2);
}
.box2-1-1-2-1-2-inBox ul{
	width: 450%;
	height: 480%;
	position: absolute;
	top: -190%;
	left: -175%;
	overflow: hidden;
}
.box2-1-1-2-1-2-inBox ul li{
	font-size: 12px;
	float: left;
	padding: 4%;
	margin: 1%;
	text-align: center;
	color: white;
	border-radius: 5px;
}
.box2-1-1-2-1-1-1{
	width: 100%;
	padding-bottom: 61.8%;
}
.box2-1-1-2-1-1-2{
	width: 100%;
	padding-bottom: 100%;
	position: relative;
}
.box2-1-1-2-1-1-2-inBox{
	width: 100%;
	height: 100%;
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(180deg) scale(0.2);
	-webkit-transform: rotate(180deg) scale(0.2);
}
.box2-1-1-2-1-1-2-inBox .slider{
	width: 450%;
	height: 300%;
	position: absolute;
	top: -160%;
	left: -165%;
	overflow: hidden;
}
.box2-1-1-2-1-1-2-inBox .slider ul{
	transition: all 1s;
	transform: translateX(0%);
	-webkit-transition: all 1s;
	-webkit-transform: translateX(0%);
	width: 500%;
}
.box2-1-1-2-1-1-2-inBox .slider li{
	width: 20%;
	float: left;
}
.box2-1-1-2-1-1-2-inBox .slider img{
	width: 100%;
}
.box2-1-1-2-1-1-2-inBox .left,.box2-1-1-2-1-1-2-inBox .right{
	position: absolute;
	top: 0;
	z-index: 1;
	width: 41px;
	height: 69px;
	transform: scale(0.3);
	-webkit-transform: scale(0.3);
}
.box2-1-1-2-1-1-2-inBox .left{
	left: -15px;
	background: url('../images/icon-slides.png') no-repeat 0px 0;
}
.box2-1-1-2-1-1-2-inBox .right{
	right: -15px;
	background: url('../images/icon-slides.png') no-repeat -41px 0;
}

.box2-1-1-2-1-1-2-inBox-about{
	width: 2000%;
	height: 100%;
	font-size: 20px;
	position: absolute;
	top: 85%;
	left: -930%;
	transform:  scale(0.2);
	-webkit-transform:  scale(0.2);
}
.box2-1-1-2-1-1-2-inBox-about ul li{
	padding: 2% 0;
	list-style-type:circle;
}
.box2-1-1-2-1-1-1-1{
	float: left;
	width: 61.8%;
	padding-bottom: 61.8%;
	position: relative;
	overflow: hidden;
}
.box2-1-1-2-1-1-1-1-inBox{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 12px;
	transform: rotate(-90deg) scale(0.05);
	-webkit-transform:rotate(-90deg)  scale(0.05);
}
.news{
	width: 1800%;
	font-size: 12px;
	height: 1500%;
	position: absolute;
	left: -900%;
	top: -900%;
}
.news h6{
	padding: 3% 0;
}
.news i{
	padding-right: 5%;
	color: rgb(25, 169, 152);
}
.news ul{
	height: 100%;
	width: 100%;
}
.news li{
	height: 15%;
	border-bottom: 1px solid #ccc;
	position: relative;
	overflow: hidden;
}
.news li h5{
	line-height: 25px;
}
.news li p{
	position: absolute;
	top: 30%;
	left: -10%;
	transform:  scale(0.8);
	-webkit-transform: scale(0.8);
}
.news li p.hides{
	height: 15%;
}
.news li p.shows{
	height: 35%;
}
.box2-1-1-2-1-1-1-2{
	float: left;
	width: 38.2%;
	padding-bottom: 61.8%;
	position: relative;
	background: url('../images/bg.jpg');
}
.box2-1-1-2-1-1-1-2-inBox{
	width: 2000%;
	height: 2000%;
	position: absolute;
	top: -947%;
	left: -950%;
	font-size: 12px;
	transform: scale(0.05);
	-webkit-transform:scale(0.05);
}
.footer-logo{
	width: 25%;
	height: 15%;
	background: black;
	position: absolute;
	top: 20px;
	left: 10px;
	border-radius: 5px;
}
.footer-logo img{
	width: 100%;
	height: 100%;
}
.box2-1-1-2-1-1-1-2-inBox h3{
	position: absolute;
	top: 25%;
}
.box2-1-1-2-1-1-1-2-inBox ul{
	position: absolute;
	top: 20%;
	left: -20%;
	width: 80%;
	transform: scale(0.5);
	-webkit-transform:scale(0.5);
}
.box2-1-1-2-1-1-1-2-inBox ul li{
	padding: 5%;
	font-weight: 900;
}
.chat-support{
	position: absolute;
	top: 40%;
	right: 10%;
	width: 50%;
	height: 15%;
	text-align: center;
	padding: 2%;
	border: 1px solid black;
}
.work-time{
	position: absolute;
	top: 60%;
	right: 5%;
	width: 75%;
	height: 25%;
	text-align: center;
	padding: 2%;
	transform: scale(0.8);
	-webkit-transform:scale(0.8);
}

.top{
	width: 40%;
	border: 1px solid black;
}
.top a{
	display: block;
}


















